<?php if($this->viewAdminMenu){?>
	<div class="admin-menu">
		<div id="admin-menu">
			<a class="agregar-propiedad" href="https://apps.facebook.com/housemarket/propiedades/show" target="_top">Agregar propiedad</a>
			<a class="mis-propiedad" href="https://apps.facebook.com/housemarket/mihousebook/publicacion" target="_top">Mis propiedades</a>
		</div>
		<!-- <a href="#" id="admin-menu-buton" class="open">close</a> -->
		<div class="clear"></div>
	</div>
<?php }?>

<div class="content content-listpage">
	<div class="head">
		<div class="menu">
			<div class="menu-button">
				<a href="/housemarket/listpage/sale" class="<?php echo $this->classSale?>">for sale</a>
			</div>
			<div class="menu-button">
				<a href="/housemarket/listpage/rent" class="<?php echo $this->classRent?>">for rent</a>
			</div>
		</div>
		<div>
			<div class="input-ubicacion">
				<input  value="Buscar lugares..." name="ubicacion" id="ubicacion" type="text" onfocus="if(this.value=='Buscar lugares...') { this.value = '';} " />
			</div>
			<div class="go">
				<a class="go-button" href="#" id="ubicacion-button"/>Go</a>
			</div>
			<div class="filter">
				<a href="#"  class="filter-button" id="filter" title="filter">filter</a>
			</div>
			<div class="map">
				<a class="map-button" href="/housemarket/map/<?php echo $this->mode;?>" title="list view">list view</a>
			</div>
		</div>
	</div>
	<div class="box listbox">
		<div id="filter-form" style="display:none">
			<a href="#" id="filter-close">close</a>
			<div class="filter-content">
				<input type="hidden" id="UrlFilter" value="/housemarket/filter/<?php echo $this->mode;?>"/>
				<input type="hidden" id="ProMode" value="<?php echo $this->mode;?>"/>
				<div class="select ">
					<span class="">Tipo de propiedad *:</span>
					<select id="Protype">
						<option value=""  >Todos</option>
						<option value="Single Family Home"  >Casa</option>
						<option value="Apartment"  >Apartamento</option>
						<option value="Lot"  >Terreno</option>
						<option value="Room"  >Cuarto</option>
						<option value="Ranch"  >Casa de Campo</option>
						<option value="Comercial"  >Comercial</option>
						<option value="Condo"  >Condominio</option>
					</select>
				</div>
				<div>
					<span class="">Precio</span>
					<select id="ProPrecioMin" >
						<option value=""  >Min</option>
					</select>
					<select id="ProPrecioMax" >
						<option value=""  >Max</option>
					</select>
				</div>
				<div>
					<span class="">Area</span>
					<select id="ProAreaMin" >
						<option value=""  >Min</option>
					</select>
					<select id="ProAreaMax" >
						<option value=""  >Max</option>
					</select>
					<select id="ProAreaMesure" >
						<option value="ft2"  >ft2</option>
						<option value="mt2"  >mt2</option>
					</select>
				</div>
				<div>
					<span class="">Cuarto</span>
					<select id="ProCuarto" >
						<option value=""  >Sin preferencia</option>
						<option value="1"  >1</option>
						<option value="2"  >2</option>
						<option value="3"  >3</option>
						<option value="4"  >4</option>
						<option value="5"  >5</option>
					</select>
				</div>
				<div>
					<span class="">Ba&ntilde;o</span>
					<select id="ProBano" >
						<option value=""  >Sin preferencia</option>
						<option value="1"  >1</option>
						<option value="2"  >2</option>
						<option value="3"  >3</option>
						<option value="4"  >4</option>
						<option value="5"  >5</option>
					</select>
				</div>
			</div>
		</div>
		<?php foreach($this->propiedadlist as $propiedad){?>
		<a href="https://apps.facebook.com/housemarkettab/propiedad?propiedad_id=<?php echo $propiedad->CodigoPropiedad?>" target="_new">
			<div class="propiedad">
				<div class="image">
					<img src="<?php echo $propiedad->thumbPhoto->getUrl('Galeria')?>">
				</div>
				<div class="detalle">
					<span class="type"><?php echo $propiedad->NombreCategoria ?></span>
					<?php if(isset($propiedad->AtributoCuarto)){?>
						<br/><?php echo $propiedad->AtributoCuarto ?> <i18n>Cuarto</i18n>
					<?php }?>
					<?php if(isset($propiedad->AtributoBano)){?>
	      				<br/><?php echo $propiedad->AtributoBano ?>  <i18n>Ba&ntilde;o</i18n>
	      			<?php }?>
					<?php if(isset($propiedad->AtributoParqueo)){?>
	      				<br/><?php echo $propiedad->AtributoParqueo ?>  <i18n>Parqueo</i18n>
	      			<?php }?>
					<?php if(isset($propiedad->LabelArea)){?>
	      				<br/><?php echo $propiedad->LabelArea ?>
	      			<?php }?>
					<?php if(isset($propiedad->LabelAreaLote)){?>
	      				<br/><?php echo $propiedad->LabelAreaLote ?>
	      			<?php }?>
				</div>
				<div class="propiedad-button">
					<span>propiedad</span>
				</div>
				<div class="precio">
					<span><?php echo $propiedad->detallePrecio?></span>
				</div>
			</div>
		</a>
		<?php }?>
		<div class="clear"></div>
		<div id="pager">
			<?php echo $this->pager ?>
			<div class="clear"></div>
		</div>
	</div>
	<div class="powered-by">
		<a href="/">
			<i18n>POWERED_BY_HOUSEMARKET</i18n>
		</a>
	</div>
</div>