/*
    Document   : errores
    Created on : 05-19-2010, 10:19:54 AM
    Author     :
    Description:
        Propia para la pantalla de errores del Zend Framework
*/

fieldset {
    font-family: "lucida grande",tahoma,verdana,arial,sans-serif;
    font-size:12px;
    width: 720px;
    border: 0px solid #F8F8F8;
}
legend {
    font-weight: bolder;
    font-size: 14px;
    text-decoration: underline;
}

fieldset #message {
    margin: 10px 10px 10px 10px;
}

fieldset #exception {
    background: #F8F8F8 none repeat scroll 0 0;
}

fieldset #exception label {
    background: #D8DFEA;
    margin: 5px 5px 5px 5px;
    width: 100%;
    display:inline-block;
    font-weight: bold;
}

fieldset #exception div {
}

fieldset #exception pre {

}

fieldset #stacktrace {
    background: #F8F8F8 none repeat scroll 0 0;
}

fieldset #stacktrace label {
    background: #D8DFEA;
    margin: 5px 5px 5px 5px;
    width: 100%;
    display:inline-block;
    font-weight: bold;
}

fieldset #stacktrace pre {

}

fieldset #parameters {
    background: #F8F8F8 none repeat scroll 0 0;
}

fieldset #parameters label {
    background: #D8DFEA;
    margin: 5px 5px 5px 5px;
    width: 100%;
    display:inline-block;
    font-weight: bold;
}

fieldset #parameters pre {

}