.index-body{
	margin: 0 0;
	padding: 0 0;
}

.index-body a{
	text-decoration: none;
}

.clear{
	clear: both;
}

.wrap{
	font-size:0px;
}

.main{
	width: 1026px;
	margin: 0 auto;
}

.pantalla-central{
	background-repeat: no-repeat;
	width: 1024px;
	height: 321px;
}

.pantalla-central-profesionales{
	background-image: url("../img/pantalla-central-profesionales.png");
}

.pantalla-central-publica{
	background-image: url("../img/pantalla-central-publica.png");
}

.pantalla-central-encuentra{
	background-image: url("../img/pantalla-central-encuentra.png");
}

.content{
	background-image: url("../img/contentbg.png");
	background-repeat: repeat-x;
	background-position: bottom;
	display:block;
	background-color: #FFF;
	width: 919px;
	height: 294px;
	padding: 0 0 0 105px;
}

.content .search-propiedad{
	background-image: url("../img/search-propiedad.png");
}

.content .para-profesionales{
	background-image: url("../img/para-profesionales.png");
}

.content .publica-propiedad{
	background-image: url("../img/publica-propiedad.png");
}

.content .aplicacion-baja .aplicacion{
	float: right;
	display: block;
	background-image: url("../img/aplicacion-baja.png");
	background-repeat: no-repeat;
	margin: 47px 5px 0px 0px;
	width: 220px;
	height: 47px;
}
