.clear{
	clear: both;
}

.wrap{
	font-size:0px;
}

.main{
	width: 1024px;
	margin: 0 auto;
}

/**** header *****/
.pantalla-central{
	background-image: url("../img/landing-header-top.png");
	background-repeat: no-repeat;
    width: 1024px;
    height: 256px;
    display:block;
}

.pantalla-central .instalar{
	float:left;
	background-image: url("../img/landing-Buton-install.png");
	background-repeat: no-repeat;
	width: 140px;
	height: 47px;
	display:block;
	margin: 176px 0 0 45px;
    font-size:0px;
}

.pantalla-central .ver-ejemplo{
	float:left;
	background-image: url("../img/ver-ejemplo.png");
	background-repeat: no-repeat;
	width: 188px;
	height: 35px;
	display:block;
	margin: 184px 0 0 32px;
    font-size:0px;
}

/**** content ****/

.content{
	display: block;
	width: 1024px;
	font-family: HelveticaCyr,HelveticaNeueCE,Helvetica,Verdana;
	background-image: url("../img/landing-bg-content.png");
	background-repeat: repeat-x;
	padding: 20px 0px 10px 0px;
	background-position: center bottom;
	background-color: #ffffff;
}

.content h1{
	color: #316CC5;
    font-family: HelveticaCyr,HelveticaNeueCE,Helvetica,Verdana;
    font-size: 16px;
    font-weight: bold;
    margin: 0;
}

.content .left-column{
	float: left;
	display: block;
	width: 704px;
	padding: 5px 10px 5px 0px;
}

.content .right-column{
	float: right;
	display: block;
	width: 297px;
}

/**** specific *****/

#banner{
	margin 0 0 0 0;
	width: 267px;
	box-shadow: 0px 5px 3px #888888;
	border-radius: 5px;
}

#banner ul{
	margin: 0;
	padding: 0;
}

#banner li{
	margin: 0;
	padding: 0;
	list-style: none;
}

#banner a{
	display: block;
	background-repeat: no-repeat;
	width: 270px;
}

#banner .precio a{
	background-image: url("../img/landing-banner-price.png");
    height: 157px;
}


#banner .description a{
	background-image: url("../img/landing-banner-desc.png");
    height: 56px;
}

#banner .demo-buton a{
	height: 34px;
}

#banner .demo-buton-1 a{
	background-image: url("../img/demo-buton-1.png");    
}

#banner .demo-buton-2 a{
	background-image: url("../img/demo-buton-2.png");
}

#banner .demo-buton-3 a{
	background-image: url("../img/demo-buton-3.png");
}

#banner .demo-buton-4 a{
	background-image: url("../img/demo-buton-4.png");
}

#banner .demo-buton-5 a{
	background-image: url("../img/demo-buton-5.png");
}

#banner .demo-buton-6 a{
	background-image: url("../img/demo-buton-6.png");
}

#banner .buton-instalar a{
	background-image: url("../img/landing-banner-install.png");
    height: 102px;
}

/*** images principales ***/
.border-content{
	display: block;
	background-color: #eaeff5;
	border: 1px solid #bdbdbf;
	margin: 0 0 0 10px;
}

#demo{
	margin: 5px 35px;
	display: block;
	width: 621px;
	box-shadow: 0px 5px 3px #888888;
}

#demo ul{
	margin: 0;
	padding: 0;
}

#demo li{
	margin: 0;
	padding: 0;
	list-style: none;
}

#demo-1{
	display: none;
}
#demo-2{
	display: none;
}
#demo-3{
	display: none;
}
#demo-4{
	display: none;
}
#demo-5{
	display: none;
}
#demo-6{
	display: none;
}

/**** thumbnail ****/

.content #demo-thumbnail{
	display: block;
	width: 666px;
	margin: 15px 0 0 0;
	padding: 0 0 0 26px;
	border-top: 1px solid #bdbdbf;
	border-bottom: none;
}

.content #demo-thumbnail li{
	display: inline;
}

.demo-thumbnail{
	display: block;
	margin: 0 14px 0 0;
	
}

.demo-thumbnail img{
	border: 1px solid #bdbdbf;
	border-bottom: none;
	border-top: none;
	cursor: pointer;
}

.demo-thumbnail ul{
	display: block;
	margin: 0;
	padding: 0;
}

.demo-thumbnail li{
	margin: 0;
	padding: 0;
	list-style: none;
	display: inline;
}

/**** contact ****/
.contact-box {
	display: block;
	background-color: #eaeff5;
	border: 1px solid #bdbdbf;
	margin: 0 0 0 10px;
	padding: 10px;
	border-radius:8px;
	-moz-border-radius:8px;
	box-shadow: -2px 2px 2px #888;
}

.form-contact-housemarket-title{
	color: #316CC5;
    font-family: HelveticaCyr,HelveticaNeueCE,Helvetica,Verdana;
    font-size: 16px;
    font-weight: bold;
    margin: 0;
}

.form-contact-housemarket .form-field{
	background: #ffffff url("../img/form-input-bg.png") repeat-x left top;
	border:none;
	border-radius:8px;
	color: #9b9797;
	display: block;
	font-size: 18px;
	margin: 7px 0;
	padding: 5px 0 0 5px;
	width: 300px;
	-moz-border-radius:8px;
}

.form-contact-housemarket .input-text{
	height: 30px;
}

.form-contact-housemarket .input-textarea{
	height: 100px;
	font-weight: bold;
}

.form-contact-housemarket .submit{
	display block;
	width: 164px;
	height: 42px;
	margin: 25px 10px 10px 5px;
}
.form-contact-housemarket .input-submit{
	border: none;
	display block;
	width: 164px;
	height: 42px;
	background: url("../img/button-contactar.png") no-repeat scroll 0 0 transparent;
	font-size: 0px;
}

.form-contact-housemarket-title{
	font-size: 16px;
	font-weight: bold;
}

.form-contact-housemarket-message{
	display: block;
	color: #b1b1b1;
	font-weight: bold;
	text-align: center;
	font-size: 12px;
}

.form-contact-housemarket .error {
	background-color: transparent;
}

.form-contact-housemarket .error .input-text{
	border:2px #ee0000 solid;
}

.form-contact-housemarket .error .input-textarea{
	border:2px #ee0000 solid;
}


.banner-inactif .precio{
	background-image: url("../img/landing-banner-price.png");
    height: 157px;
}


.banner-inactif .description{
	background-image: url("../img/landing-banner-desc.png");
    height: 56px;
}

.banner-inactif .demo-buton{
	height: 34px;
}

.banner-inactif .demo-buton-1{
	background-image: url("../img/demo-buton-1.png");    
}

.banner-inactif .demo-buton-2{
	background-image: url("../img/demo-buton-2.png");
}

.banner-inactif .demo-buton-3{
	background-image: url("../img/demo-buton-3.png");
}

.banner-inactif .demo-buton-4{
	background-image: url("../img/demo-buton-4.png");
}

.banner-inactif .demo-buton-5{
	background-image: url("../img/demo-buton-5.png");
}

.banner-inactif .demo-buton-6{
	background-image: url("../img/demo-buton-6.png");
}

.terminos-box {
	font-size: 11px;
	display: block;
	background-color: #eaeff5;
	border: 1px solid #bdbdbf;
	margin: 0 0 0 10px;
	padding: 10px;
	border-radius:8px;
	-moz-border-radius:8px;
	box-shadow: -2px 2px 2px #888;
}

