body{
	font-family : Helvetica, Arial, Verdana, Geneva , sans-serif;
	margin: 0;
	padding: 0;
	background-color: #cecece;
}

a {
	text-decoration: none;
}

.clear{
	clear: both;
}

img{
	border: 0px;
}

.box{
	display:block;
	background-color: #ffffff;
	border:2px #eeeeee solid;
	padding: 5px 5px;
	border-radius:8px;
	-moz-border-radius:8px;
	box-shadow: -5px 5px 5px #888;
}

.box-border{
	float: left;
	display:block;
	background-image: url("../img/box-border.png");
	height: 200px;
	width: 2px;
}

.box-light{
	float: left;
	background-repeat: no-repeat;
	margin: 24px 27px 0px 28px;
	width: 213px;
	height: 72px;
	display: block;
}

.box-light h2{
	margin: 80px 0px 0px 0px;
	font-size: 16px;
	color: #316cc5;
	font-family: HelveticaCyr, HelveticaNeueCE, Helvetica, Verdana;
	font-weight:bold;
	text-transform:uppercase;
}

.box-light span{
	display: block;
	margin: 10px 0px 0px 0px;
	font-size: 14px;
	color: #706f6f;
	font-family: HelveticaCyr, HelveticaNeueCE, Helvetica, Verdana;
	/*font-weight: bold;*/
}

.powered-by a{
	display:block;
	width: 228px;
	height: 70px;
	font-size: 0px;
	background: url("../img/powered-by.png") no-repeat scroll -1px 0 transparent;
	margin: 15px 0 0 -8px;
}

/**** header *****/
.header-top{
	background-image: url("../img/header-top.png");
	background-repeat: repeat-x;
    width: 1024px;
    height: 80px;
}

.header-top .logo{
	float:left;
	background-image: url("../img/logo-header.png");
	background-repeat: no-repeat;
	width: 307px;
	height: 80px;
    
}

.header-top .buton-top{
	float:right;
	background-image: url("../img/buton-top.png");
	background-repeat: no-repeat;
	margin: 8px 14px 0px 0px;
	width: 345px;
	height: 54px;

}

.header-top .buton-top .contactarnos{
	display: block;
	float:left;
	background-image: url("../img/buton-top-contactarnos.png");
	background-repeat: no-repeat;
	margin: 0px 0px 0px 54px;
	width: 115px;
	height: 54px;
    
}

.header-top .buton-top .compania{
	display: block;
	float:left;
	background-image: url("../img/buton-top-compania.png");
	background-repeat: no-repeat;
	margin: 0px 0px 0px 0px;
	width: 132px;
	height: 54px;
    
}
/**** admin menu ***/

#admin-menu-buton {
	float: right;
	display:block;
	padding: 5px 5px;
	font-size: 0px;
	width: 9px;
	height: 6px;
}

.admin-menu .close{
	background: url("../img/buton-menu-close.png") no-repeat scroll 0 0 transparent;
}

.admin-menu .open{
	background: url("../img/buton-menu-open.png") no-repeat scroll 0 0 transparent;
}

.admin-menu {
	display:block;
	background-color: #ffffff;
	border: 1px #d5d3d3 solid;
	padding: 5px 15px;
	border-radius:8px;
	-moz-border-radius:8px;
	box-shadow: -5px 5px 5px #888;
	margin: 10px auto 20px auto;
	width: 760px;
	
}

.admin-menu a{
	color: #919191;
	font-weight: bold;
	text-decoration: none;
}

.admin-menu .agregar-propiedad{
	float: left;
	margin: 5px;
	display:block;
	background: url("../img/agregar-propiedad.png") no-repeat scroll 0 0 transparent;
	font-size: 0px;
	width: 197px;
	height: 36px;
}

.admin-menu .mis-propiedad{
	float: left;
	margin: 5px;
	display:block;
	background: url("../img/mis-propiedad.png") no-repeat scroll 0 0 transparent;
	font-size: 0px;
	width: 197px;
	height: 36px;
}

/**** pager ***/
#pager{
	display:block;
	background-color: #e5ebef;
	border: 1px #d5d3d3 solid;
	padding: 5px 5px;
	border-radius:8px;
	-moz-border-radius:8px;
	margin-top: 10px;
	margin-bottom: 10px;
}

#pager a {
	display:block;
	float: left;
	background-color: #ffffff;
	border: 1px #d5d3d3 solid;
	border-radius:3px;
	-moz-border-radius:3px;
	width: 25px;
	height: 23px;
	padding-top: 2px;
	margin-right: 5px;
	margin-left: 2px;
	margin-top: 7px;
	font-weight: bold;
	text-align: center;
}
#pager .pager_current{
	background-color: #cfcfcf;
}

#pager .pager_button{
	border: none;
	background-color: #e5ebef;
	width: 96px;
	background-repeat: no-repeat;
	height: 37px;
	border-radius: 0px;
	-moz-border-radius: 0px;
	font-size: 0px;
	margin-top: 0px;
}

#pager .pager_first{
	background-image: url("../img/buton-pager-first.png");
	
}

#pager .pager_prev{
	background-image: url("../img/buton-pager-prev.png");
}

#pager .pager_next{
	background-image: url("../img/buton-pager-next.png");
}

#pager .pager_last{
	background-image: url("../img/buton-pager-last.png");
}