.main{
	background-color: #e4e7ea;
}

.content{
	display:block;
	background-color: #e4e7ea;
	margin: 0 auto;
	width: 787px;
	padding: 5px 0 0 2px;
}

.head{
	background: url("../img/header-top-pub.png") no-repeat scroll 0 0 transparent;
	display: block;
	width: 770px;
	height: 139px;
	padding: 10px 0px 5px 20px;
}

.message{
	display:block;
	background-color: #e5ebef;
	border: 1px #d5d3d3 solid;
	padding: 5px 5px;
	border-radius:8px;
	-moz-border-radius:8px;
	margin-top: 10px;
	margin-bottom: 10px;
}

.agregar-propiedad-button{
	display:block;
	float: right;
	background: url("../img/buton-agregar-propiedad.png") no-repeat scroll 0 0 transparent;
	width: 255px;
	height: 48px;
	font-size: 0px;
}

.realizar-pago-button{
	display:block;
	float: right;
	background: url("../img/buton-realizar-pago.png") no-repeat scroll 0 0 transparent;
	width: 214px;
	height: 48px;
	font-size: 0px;
}

.paypal_form div{
	font-size: 0px;
}
