.wrap{
	font-size:0px;
}

.main{
	width: 1026px;
	margin: 0 auto;
}

/**** content ****/

.content{
	background-image: url("../img/contentbg.png");
	background-repeat: repeat-x;
	background-position: bottom;
	display:block;
	background-color: #FFF;
	width: 1024px;
}

.content h2{
	font-size: 16px;
	color: #316cc5;
	font-family: HelveticaCyr, HelveticaNeueCE, Helvetica, Verdana;
	font-weight:bold;
	margin: 0px;
	/*text-transform:uppercase;*/
}

.content span{
	display: block;
	margin: 15px 0px 0px 0px;
	font-size: 14px;
	color: #706f6f;
	font-family: HelveticaCyr, HelveticaNeueCE, Helvetica, Verdana;
}


.content .box-border{
	float: left;
	display:block;
	background-image: url("../img/box-border.png");
	height: 200px;
	width: 2px;
}

.content .box-right{
	margin: 24px 20px 0 0;
	display: block;
	float: right;
	width: 670px;
	font-size: 14px;
}

.content .box-left{
	float: left;
	margin: 24px 28px;
	width: 270px;
	display: block;
}
/**** form ****/

.intro{
	display: block;
}

.form{
	margin: 30px auto 0 auto;
	display: block;
	width: 470px;
	font-size: 14px;
}

.form .text, .form .select, .form .radio{
	display: block;
	clear: both;
}

.form span{ 
	margin: 17px 0 0 0;
	float: left;
	display: block;
}

.form .form-field{
	margin: 15px 0 0 0;
	float: right;
}

.form-register .input-select{
	width: 206px;
}

.form .input-text{
	width: 200px;
}

.form .input-textarea{
	width: 200px;
	height: 80px;
}

.form .error{
	background-color: #CC0000;
}

.form .input-submit{
	margin: 25px 0 0 0;
	display: block;
	clear: both;
	background-color: #0857af;
    background-image: -moz-linear-gradient(center bottom , #0857af, #279eea);
    border: 1px solid #CCCCCC;
    border-radius: 3px 3px 3px 3px;
    color: #ffffff;
    float: right;
    font-weight: bold;
    outline: medium none;
    position: relative;
    text-decoration: none;
    text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
    vertical-align: top;
    white-space: nowrap;
    width: 100px;
    height: 30px;
}


#banner{
	margin 0 0 0 0;
	width: 267px;
	box-shadow: 0px 5px 3px #888888;
	border-radius: 5px;
}

#banner ul{
	margin: 0;
	padding: 0;
}

#banner li{
	margin: 0;
	padding: 0;
	list-style: none;
}

#banner a{
	display: block;
	background-repeat: no-repeat;
	width: 270px;
}

#banner .precio a{
	background-image: url("../img/landing-banner-price.png");
    height: 157px;
}


#banner .description a{
	background-image: url("../img/landing-banner-desc.png");
    height: 56px;
}

#banner .demo-buton a{
	height: 34px;
}

#banner .demo-buton-1 a{
	background-image: url("../img/demo-buton-1.png");    
}

#banner .demo-buton-2 a{
	background-image: url("../img/demo-buton-2.png");
}

#banner .demo-buton-3 a{
	background-image: url("../img/demo-buton-3.png");
}

#banner .demo-buton-4 a{
	background-image: url("../img/demo-buton-4.png");
}

#banner .demo-buton-5 a{
	background-image: url("../img/demo-buton-5.png");
}

#banner .demo-buton-6 a{
	background-image: url("../img/demo-buton-6.png");
}

#banner .buton-instalar a{
	background-image: url("../img/landing-banner-install.png");
    height: 102px;
}