body{
	background-color: #e4e7ea;
}

.content{
	display:block;
	background-color: #e4e7ea;
	margin: 0 auto;
	width: 787px;
	padding: 5px 10px;
}

.head{
	background: url("../img/menu-tab-header.png") no-repeat scroll 0 0 transparent;
	display: block;
	width: 770px;
	height: 139px;
	padding: 10px 0px 5px 20px;
}

.menu{
	display: block;
	height: 55px;
	padding: 0 0 0 10px;
}

.menu-button {
	float:left;
	display: block;
	margin: 0px 10px;
}

.menu-button a{
	width: 115px;
	height: 45px;
	display: block;
	font-size: 0px;
}

.menu-for-sale{
	background: url("../img/menu-for-sale.png") no-repeat scroll 0 0 transparent;
}

.menu-for-sale-actif{
	background: url("../img/menu-for-sale-actif.png") no-repeat scroll 0 0 transparent;
}

.menu-for-rent{
	background: url("../img/menu-for-rent.png") no-repeat scroll 0 0 transparent;
}

.menu-for-rent-actif{
	background: url("../img/menu-for-rent-actif.png") no-repeat scroll 0 0 transparent;
}

.input-ubicacion{
	background: url("../img/tab_menu_input_search.png") no-repeat scroll 0 0 transparent;
	width: 443px;
	height: 52px;
	float:left;
	display: block;
	margin: 3px 0 0 0;
}

.input-ubicacion input{
	border: none;
	background: url("../img/tab_menu_input_search_input.png") repeat-x scroll 0 0 transparent;
	color: #777777;
	font-size: 20px;
	font-style:italic;
	font-family: Verdana;
	width: 370px;
	margin: 5px 0 0 50px;
	height: 43px;
	display: block;
}

.go{
	float:left;
	display: block;
	margin: 6px 0 0 20px;
}

.go-button{
	background: url("../img/tab_menu_button_go.png") no-repeat scroll 0 0 transparent;
	display: block;
	width: 56px;
	height: 53px;
	font-size: 0px;
}

.filter {
	float:left;
	display: block;
	margin: 6px 0 0 15px;
}

.filter-button {
	background: url("../img/tab_menu_button_filter.png") no-repeat scroll 0 0 transparent;
	display: block;
	width: 90px;
	height: 53px;
	font-size: 0px;
}

.map{
	float:left;
	display: block;
	margin: 6px 0 0 15px;
}

.map-button{
	background: url("../img/tab_menu_button_map.png") no-repeat scroll 0 0 transparent;
	display: block;
	width: 116px;
	height: 53px;
	font-size: 0px;
}

.listbox{
	width: 775px;
}

.listbox a{
	text-decoration: none;
	color: #000000;
}
/*filter*/

#filter-form{
	position:absolute;
	right: 22px;
	width: 200px;
	background-color: #e5e3dd;
	z-index: 3;
	border-radius:8px;
	-moz-border-radius:8px;
	-moz-box-shadow: 10px 10px 5px #888;
	-webkit-box-shadow: 10px 10px 5px #888;
	box-shadow: -5px 5px 5px #888;
}

#filter-form #filter-close{
	display: block;
	float:right;
	margin: 3px 3px 3px 3px;
	background: url("../img/close.png") no-repeat scroll 0 0 transparent;
	font-size: 0px;
	width: 21px;
	height: 18px;
}

.filter-content{
	width: 174px;
	display:block;
	margin: 26px auto 26px auto;
	background-color: #ffffff;
	border-radius:8px;
	-moz-border-radius:8px;
	padding : 10px 5px 5px 5px;
}

.filter-content span{
	display: block;
	width: 200px;
	font-size: 14px;
	font-weight: bold;
	margin: 2px 0 2px 0;
}

.filter-content .select{
	margin: 2px 0 2px 0;
	width: 150px;
}

.filter-content .miniselect{
	margin: 2px 0 2px 0;
	width: 70px;
}

/*** propiedad description ***/
.propiedad{
	float:left;
	display: block;
	width: 366px;
	background-color: #f3f3f3;
	border:2px #eeeeee solid;
	border-radius:8px;
	-moz-border-radius:8px;
	padding: 10px 7px;
	margin : 1px;
	height: 90px;
	overflow: hidden;
}

.propiedad .image{
	float:left;
	display: block;
}

.propiedad .image img{
	width: 125px;
	height: 90px;
}

.propiedad .detalle{
	font: 13px Arial, sans-serif;
	float:left;
	display: block;
	margin: 0px 0px 0px 10px; 
}

.propiedad .detalle .type{
	font-weight: bold;
}

.propiedad .propiedad-button {
	float:right;
	display: block;
	margin: 24px 0 0 0;
}

.propiedad .propiedad-button span{
	width: 31px;
	height: 31px;
	display: block;
	background: url("../img/propiedad-button.png") no-repeat scroll 0 0 transparent;
	font-size: 0px
}

.propiedad .precio{
	float:right;
	display: block;
	margin: 69px -35px 0 0;
}

.propiedad .precio span{
	color: #7fa917;
}