<?echo $this->render('header/index.phtml'); ?>
<div class="pantalla-central pantalla-central-profesionales" id="img-demo">
	<h1>Para Profesionales</h1>
	<span>Una vez publicadas tus propiedades puedes mostrarlas en tu pagina de Facebook</span>
</div>
<div class="content">
	<a class="box-light search-propiedad" href="/" id="b-encuentra">
		<h2>Busca Propiedades</h2>
		<span>Usuarios alrededor del mundo utilizan housemarket para buscar casas, apartamento y terrenos</span>
	</a>
	<div class="box-border"></div>
	<a class="box-light para-profesionales" href="/landing" id="b-profesionales" >
		<h2>Para Profesionales</h2>
		<span>Una vez publicadas tus propiedades puedes mostrarlas en tu pagina de Facebook...</span>
	</a>
	<div class="box-border"></div>
	<a class="box-light publica-propiedad" href="/" id="b-publica">
		<h2>Publica Propiedades</h2>
		<span>Es sencillo y gratis. Puedes hacerlo una a la vez o cargar masivamente a traves diversas herramientas que ponemos a tu disposicion</span>
	</a>
	<div class="clear"></div>
	<?echo $this->render('footer/index.phtml'); ?>
</div>