<div class="content content-listpage">
	<div class="head">
	
	</div>
	<div class="box listbox">
		<h3>The order was canceled.</h3>
		<div class="clear"></div>
	</div>
	<div class="powered-by">
		<a href="/">
			<i18n>POWERED_BY_HOUSEMARKET</i18n>
		</a>
	</div>
</div>