<div class="content content-listpage">
	<div class="head">
	
	</div>
	<div class="box listbox">
		<center><h2>Please wait, your order is being processed and you will be redirected to the paypal website.</h2></center>
		<form method="post" name="paypal_form" action="<?php echo $this->paypal_url ?>">

		<input type="hidden" name="cmd" value="_s-xclick">
		<input type="hidden" name="encrypted" value="<?php echo $this->encrypted_buton?>">
		
	    <?php //foreach ($this->fields as $name => $value) { ?>
	         <?php //<input type="hidden" name="<?php echo $name? >" value="<?php echo $value? >"/>?>
	    <?php //} ?>
	    
	    	<center><br/><br/>If you are not automatically redirected to paypal within 5 seconds...<br/><br/>
	    	<input type="submit" value="Click Here"></center>
	    </form>
		<div class="clear"></div>
	</div>
	<div class="powered-by">
		<a href="/">
			<i18n>POWERED_BY_HOUSEMARKET</i18n>
		</a>
	</div>
</div>