<div class="content content-listpage">
	<div class="head">
	
	</div>
	<div class="box listbox">
		<h3>Gracias por agregar Housemarket Tab a su pagina</h3>
		<a href="https://www.facebook.com/<?php echo $this->pageid; ?>" alt="housemarket tab">Regresar a mi pagina</a>
		<div class="clear"></div>
	</div>
	<div class="powered-by">
		<a href="/">
			<i18n>POWERED_BY_HOUSEMARKET</i18n>
		</a>
	</div>
</div>