<?php if($this->viewAdminMenu){?>
	<?echo $this->render('header/application-admin-menu.phtml'); ?>
<?php }?>
<div class="content content-page">
	<div class="box map">
		<div class="title title-map">
			<span><i18n>TITLE_MAP</i18n></span>
		</div>
		<div id="mapsearch"></div>
	</div>
</div>
<?echo $this->render('footer/application.phtml'); ?>