<?php if($this->viewAdminMenu){?>
	<div class="admin-menu">
		<div id="admin-menu">
			<a class="agregar-propiedad" href="https://apps.facebook.com/housemarket/propiedades/show" target="_top">Agregar propiedad</a>
			<a class="mis-propiedad" href="https://apps.facebook.com/housemarket/mihousebook/publicacion" target="_top">Mis propiedades</a>
		</div>
		<!-- <a href="#" id="admin-menu-buton" class="open">close</a> -->
		<div class="clear"></div>
	</div>
<?php }?>

<div class="content content-mappage">
	<div class="head">
		<div class="menu">
			<div class="menu-button">
				<a href="/application/map<?php if($this->pageId != ''){ echo '?page_id='. $this->pageId; } ?>" class="<?php echo $this->classSale?>">for sale</a>
			</div>
			<div class="menu-button">
				<a href="/application/map?mode=rent<?php if($this->pageId != ''){ echo '&page_id='. $this->pageId; } ?>" class="<?php echo $this->classRent?>">for rent</a>
			</div>
		</div>
		<div>
			<div class="input-ubicacion">
				<input  value="Buscar lugares..." name="ubicacion" id="ubicacion" type="text" onfocus="if(this.value=='Buscar lugares...') { this.value = '';} " />
			</div>
			<div class="go">
				<a class="go-button" href="#" id="ubicacion-button"/>Go</a>
			</div>
			<div class="filter">
				<a href="#"  class="filter-button" id="filter" title="filter">filter</a>
			</div>
			<div class="list-view">
				<a class="list-view-button" href="/application/listpage<?php if($this->pageId != ''){ echo '?page_id='. $this->pageId; } ?>" title="list view">list view</a>
			</div>
		</div>
	</div>
	<div class="box map">
		<div id="filter-form" style="display:none">
			<a href="#" id="filter-close">close</a>
			<div class="filter-content">
				<input type="hidden" id="UrlFilter" value="/application/filter/propiedadbypage/<?php echo $this->pageId;?>/<?php echo $this->mode;?>"/>
				<input type="hidden" id="ProId" value="<?php echo $this->pageId;?>"/>
				<input type="hidden" id="ProMode" value="<?php echo $this->mode;?>"/>
				<div class="select ">
					<span>Tipo de propiedad *:</span>
					<select class="select" id="Protype">
						<option value=""  >Todos</option>
						<option value="Single Family Home"  >Casa</option>
						<option value="Apartment"  >Apartamento</option>
						<option value="Lot"  >Terreno</option>
						<option value="Room"  >Cuarto</option>
						<option value="Ranch"  >Casa de Campo</option>
						<option value="Comercial"  >Comercial</option>
						<option value="Condo"  >Condominio</option>
					</select>
				</div>
				<div>
					<span>Precio</span>
					<select class="miniselect" id="ProPrecioMin" >
						<option value=""  >Min</option>
					</select>
					<select class="miniselect" id="ProPrecioMax" >
						<option value=""  >Max</option>
					</select>
				</div>
				<div>
					<span>Area</span>
					<select class="miniselect" id="ProAreaMin" >
						<option value=""  >Min</option>
					</select>
					<select class="miniselect" id="ProAreaMax" >
						<option value=""  >Max</option>
					</select>
					<select id="ProAreaMesure" >
						<option value="ft2"  >ft2</option>
						<option value="mt2"  >mt2</option>
					</select>
				</div>
				<div>
					<span>Cuarto</span>
					<select class="miniselect"" id="ProCuarto" >
						<option value=""  >Sin preferencia</option>
						<option value="1"  >1</option>
						<option value="2"  >2</option>
						<option value="3"  >3</option>
						<option value="4"  >4</option>
						<option value="5"  >5</option>
					</select>
				</div>
				<div>
					<span>Ba&ntilde;o</span>
					<select class="miniselect" id="ProBano" >
						<option value=""  >Sin preferencia</option>
						<option value="1"  >1</option>
						<option value="2"  >2</option>
						<option value="3"  >3</option>
						<option value="4"  >4</option>
						<option value="5"  >5</option>
					</select>
				</div>
			</div>
		</div>
		<div id="mapsearch"></div>
	</div>
	
	<div class="powered-by">
		<a href="/">
			<i18n>POWERED_BY_HOUSEMARKET</i18n>
		</a>
	</div>
</div>