<?php if($this->viewAdminMenu){?>
	<div id="admin-menu">
		<a href="https://apps.facebook.com/housemarket/propiedades/show">Agregar propiedad</a>
		<a href="https://apps.facebook.com/housemarket/mihousebook/publicacion">Mis propiedad</a>
	</div>
	<div id="admin-menu-buton">close</div>
<?php }?>

<div class="content content-listpage">
	<div class="head">
	
	</div>
	<div class="box listbox">
		<div class="message">
			<div class="logo">
				<img alt="logo housemarket Tab" src="/img/hmlogo.png" height="60px">
			</div>
			<div class="text">
				<?php echo $this->message ?>
			</div>
			<div class="clear"></div>
		</div>
		<?php if($this->mode == 'RealizarPago'){ ?>
		<div class="button">
			<a class="realizar-pago-button" href="<?php echo $this->urlInstall; ?>" title="Realizar pago" target="_top">Realizar pago</a>
		</div>
		<?php } ?>
		<?php if($this->mode == 'AgregarPropiedad'){ ?>
		<div class="button">
			<a class="agregar-propiedad-button" href="https://apps.facebook.com/housemarket/mihousebook/publicacion" title="Agregar propiedad" target="_top">Agregar propiedad</a>
		</div>
		<?php } ?>
		<div class="clear"></div>
	</div>
</div>