<?echo $this->render('header/index.phtml'); ?>
<div class="pantalla-central">
	<h1>Para Profesionales</h1>
	<span>Una vez publicadas tus propiedades puedes mostrarlas en tu pagina de Facebook</span>
	<a  class="instalar" href="<? echo $this->urlInstall?>" alt="instalar housemarket tab app">
		instalar
	</a>
</div>
<div class="content content-landing">
	<div class="left-column">
		<div class="contact-box">
			<?php echo $this->formContact ?>
		</div>
	</div>
	<div class="right-column">
		<div id="banner" class="banner-inactif">
			<ul>
				<li class="precio">
						Para profesionales de Bienes Raices por solo $19.99 por mes
				</li>
				<li class="description">
						Agrega estas funcionalidades a tu pagina de Facebook :
				</li>
				<li class="demo-buton demo-buton-1">
						Buscador de propiedades en tu fan page.
				</li>
				<li class="demo-buton demo-buton-2">
						Visualizacion por mapa o lista
				</li>
				<li class="demo-buton demo-buton-3">
						Filtros para refinar busqueda.
				</li>
				<li  class="demo-buton demo-buton-4">
						Descripcion detallada de propiedades.
				</li>
				<li class="demo-buton demo-buton-5">
						Carrusel de fotos de propiedad.
				</li>
				<li class="demo-buton demo-buton-6">
						Herramienta sencilla para contactar.
				</li>
				<li  class="buton-instalar">
					<a  class="instalar" href="<? echo $this->urlInstall?>" alt="instalar housemarket tab app">
						instalar
					</a>
				</li>
			</ul>
		</div>
	</div>
	<div class="clear"></div>
</div>