<?echo $this->render('header/index.phtml'); ?>
<div class="pantalla-central">
	<h1>Para Profesionales</h1>
	<span>Una vez publicadas tus propiedades puedes mostrarlas en tu pagina de Facebook</span>
	<a  class="instalar" href="<? echo $this->urlInstall?>" alt="instalar housemarket tab app">
		instalar
	</a>
	<a  class="ver-ejemplo" href="https://www.facebook.com/DiscoverRealEstate/app_151516144978488" alt="Ver ejemplo">
		Ver ejemplo
	</a>
</div>
<div class="content content-landing">
	<div class="left-column">
		<div class="border-content">
			<div id="demo">
				<ul>
					<li id="demo-1" class="demo-1">
						<img alt="" src="/img/langing-demo1.png" width="621" height="408" />
					</li>
					<li id="demo-2" class="demo-2">
						<img alt="" src="/img/langing-demo2.png" width="621" height="408" />
					</li>
					<li id="demo-3" class="demo-3">
						<img alt="" src="/img/langing-demo3.png" width="621" height="408" />
					</li>
					<li id="demo-4" class="demo-4">
						<img alt="" src="/img/langing-demo4.png" width="621" height="408" />
					</li>
				</ul>
			</div>
			<div id="demo-thumbnail">
				<ul>
					<li id="demo-thumbnail-1" class="demo-thumbnail demo-thumbnail-1">
						<img alt="" src="/img/langing-thumbnail-demo1.png" width="124" height="90" />
					</li>
					<li id="demo-thumbnail-2" class="demo-thumbnail demo-thumbnail-2">
						<img alt="" src="/img/langing-thumbnail-demo2.png" width="124" height="90" />
					</li>
					<li id="demo-thumbnail-3" class="demo-thumbnail demo-thumbnail-3">
						<img alt="" src="/img/langing-thumbnail-demo3.png" width="124" height="90" />
					</li>
					<li id="demo-thumbnail-4" class="demo-thumbnail demo-thumbnail-4">
						<img alt="" src="/img/langing-thumbnail-demo4.png" width="124" height="90" />
					</li>
				</ul>
			</div>
		</div>
	</div>
	<div class="right-column">
		<div id="banner">
			<ul>
				<li class="precio">
					<a  class="" href="#" alt="">
						Para profesionales de Bienes Raices por solo $19.99 por mes
					</a>
				</li>
				<li class="description">
					<a  class="" href="#" alt="">
						Agrega estas funcionalidades a tu pagina de Facebook :
					</a>
				</li>
				<li class="demo-buton demo-buton-1">
					<a  class="" href="#" alt="">
						Buscador de propiedades en tu fan page.
					</a>
				</li>
				<li class="demo-buton demo-buton-2">
					<a  class="" href="#" alt="">
						Visualizacion por mapa o lista
					</a>
				</li>
				<li class="demo-buton demo-buton-3">
					<a  class="" href="#" alt="">
						Filtros para refinar busqueda.
					</a>
				</li>
				<li  class="demo-buton demo-buton-4">
					<a  class="" href="#" alt="">
						Descripcion detallada de propiedades.
					</a>
				</li>
				<li class="demo-buton demo-buton-5">
					<a  class="" href="#" alt="">
						Carrusel de fotos de propiedad.
					</a>
				</li>
				<li class="demo-buton demo-buton-6">
					<a  class="" href="#" alt="">
						Herramienta sencilla para contactar.
					</a>
				</li>
				<li  class="buton-instalar">
					<a  class="instalar" href="<? echo $this->urlInstall?>" alt="instalar housemarket tab app">
						instalar
					</a>
				</li>
			</ul>
		</div>
	</div>
	<div class="clear"></div>
</div>