<?echo $this->render('header/index.phtml'); ?>
<div class="content content-landing">
	<div class="left-column">
		<div class="terminos-box">
			<h1>Terms of Use</h1>
			
			<p><strong>Please read these terms and conditions of use carefully before using this site.</strong></p>
			<p><strong>General</strong></p>
			<p>Housemarket Application provides a collection of property listings, advertising, email services and links to third party sites (referred to hereafter as "the Service"), available at the URLs http://apps.facebook.com/housemarket/ and https://www.facebook.com/housemarket (the "Sites"), that are subject to the following Terms of Use ("Terms"). By using the Sites or the Service in any way, you agree to comply with these Terms. In addition, when using particular Housemarket Application services, you agree to abide by any applicable posted guidelines for those services, which may change from time to time. Please report any violation of these Terms to info@hmapp.com</p>

			<p>Housemarket Application reserves the right to change or modify these Terms of Use or any policy or guideline of the Site, at any time and in its sole discretion. Any changes or modification will be effective immediately upon posting of the revisions to the Site, and you waive any right you may have to receive specific notice of such changes or modifications. Your continued use of the Site following the posting of changes or modifications will confirm your acceptance of such changes or modifications. You can always review the most current version of these Terms at https://apps.facebook.com/housemarket/info/terms/.</p>
			<p><strong>Services</strong></p>
			<p>The Services include the Housemarket Application Site. The Services may also be located on third party Web sites and/or applications either as a link from an add-on service to, or otherwise in connection with, Web sites and/or applications that such third parties control. Nothing contained in any of the Services is an offer or promise to sell a specific product for a specific price or that any advertiser will sell any product or service for any purpose or price or on any specific terms.</p>
			<p><strong>Third Party Advertising and Business Dealings</strong></p>
			<p>Housemarket Application may run advertisements and promotions from third parties on the Site or may otherwise provide information about or links to third-party products or services on the Site. Your business dealings with or participation in the promotions of such third parties, and any terms, conditions, warranties, or representations associated with such dealings or promotions, are solely between you and such third party. Housemarket Application is not responsible for and does not guarantee the price, terms, performance, quality, accuracy, availability or legality of any products, services, promotions or information offered by any advertiser. We are not responsible or liable for any loss or damage of any sort incurred as the result of such dealings or promotions or as a result of such third party information or advertisements on the Site. If you have a dispute with one or more advertisers or other third parties, you release Housemarket Application from any claims, demands and damages (actual and consequential) of every kind and nature, known and unknown, suspected and unsuspected, disclosed and undisclosed, arising out of or in any way connected with such disputes.
				<strong>You agree not to:</strong>
				<ul>
					<li>Contact anyone who has asked not to be contacted</li>
					<li>"Stalk" or otherwise harass anyone</li>
					<li>Delete or revise any material posted by any other user</li>
					<li>Impersonate any person or entity or falsely state or misrepresent your affiliation with another person or entity</li>
					<li>Attempt to gain unauthorized access Housemarket Application computer systems or networks to engage in any activity that disrupts, diminishes the quality of, interferes with the performance of, or impairs the functionality of, the Service or the Sites</li>
				</ul>
			</p>
			<p><strong>User Submitted Content</strong></p>
			<p>You are solely responsible for any messages, reviews, text, photos, videos, graphics, code, or other content or materials (the "User Content") that you post, submit, publish, display or link to on the Site or send to other Housemarket Application users. You agree not to post, submit or link to any User Content or material that infringes, misappropriates or violates the rights of any third party, including without limitation the copyright, trademark, trade secret, patent, publicity, privacy or other intellectual property rights of any third party, or that is in violation of any Federal, State or local law, rule or regulation, including Fair Housing Laws. You also agree not to post, submit or link to any User Content that is defamatory, obscene, pornographic, indecent, harassing, threatening, abusive, inflammatory, or fraudulent or that is purposely false or misleading. Without limiting the foregoing, you will at all times adhere to the Facebook Community Guidelines which are incorporated into these Terms of Use.</p>
			<p>You agree that by posting content on the Site, you are granting Housemarket Application a royalty-free, perpetual, irrevocable and fully sublicensable license to publish, reproduce, distribute, display, adapt, and otherwise use this content in any manner on or in connection with the Site or in the course of offering the Services. You understand and agree that any User Content that you post or submit to Housemarket Application may be redistributed through the Internet and other media channels, and may be viewed by the general public.</p>
			<p>For specific advice on legal, financial or real estate matters, you should always seek the advice of a professional who is licensed and knowledgeable in that area, such as an attorney, accountant or real estate agent or broker.</p>
			<p>You understand that Housemarket Application does not approve or control the User Content posted by others, and instead simply provides a service by allowing users to access information that has been made available by others. As a provider of interactive services, Housemarket Application is not liable for any statements, representations, or User Content provided by its users on the Site or in connection with the Services. Housemarket Application assumes no responsibility for monitoring the Site or the Services for appropriate User Content or conduct and has no obligation to screen, edit, or remove any of the User Content. However, Housemarket Application reserves the right, in its sole discretion and without notice, to monitor, screen, edit, or remove any User Content at any time and for any reason or for no reason. Housemarket Application nonetheless assumes no responsibility for such User Content or for the conduct of the User submitting any such Content.</p>
			<p>Enforcement of these Terms of Use is solely in our discretion, and failure to enforce the Terms of Use in some instances does not constitute a waiver of our right to enforce them in other instances. In addition, these Terms of Use do not create any private right of action on the part of any third party or any reasonable expectation that the Site will not contain any content that is prohibited by these Terms of Use.</p>
			<p>You understand that Housemarket Application does not endorse or warrant any particular content or information available via the Site or guarantee the accuracy, integrity or quality of such content or information. Additionally, we cannot guarantee the authenticity of any data that users may provide about themselves. You acknowledge that by using the Service, you may be exposed to User Content that is offensive, indecent or objectionable. Under no circumstances will Housemarket Application be liable in any way for any User Content, including, but not limited to, any errors or omissions in any User Content, or any loss or damage of any kind incurred as a result of the use of any User Content posted, emailed, transmitted or otherwise made available via the Site or the Service. You use the Site and the Services at your own risk.</p>
			<p><strong>Modification Of Housemarket Application Services</strong></p>
			<p>Housemarket Application reserves the right to modify or discontinue the Service or a portion or attribute thereof, or the offering of any information, good, content, product or service with or without notice. Housemarket Application shall not be liable to you or any third party should Housemarket Application exercise its right to modify or discontinue the Service or part of it.</p>
			<p><strong>Copyright And License</strong></p>
			<p>All copyrighted and copyrightable materials on this Site, including, without limitation, the design, text, search results, graphics, images, pictures, sound files and other files, and the selection and arrangement and compilation of information ("Materials") thereof are proprietary property of Housemarket Application or its licensors, or users and are protected by international copyright laws. You are granted a limited, non-sublicensable right to access this Site, use the Services and print the Materials for your personal, non-commercial, and informational use only. We reserve the right, without notice and in our sole discretion, to terminate your license to use the Site, and to block or prevent future access to and use of the Site. The foregoing license grant does NOT include the right for you to:</p>
			<p>publish, publicly perform or display, or distribute to any third party any Materials, including reproduction on any computer network or broadcast or publications media;</p>
			<p>market, sell or make commercial use of the Site or any Materials; systematically collect and use of any data or content including the use of any data spiders, robots, or similar data gathering, mining or extraction methods;</p>
			<p>make derivative uses of the Site or the Materials; or</p>
			<p>use, frame or utilize framing techniques to enclose any portion of this Site (including the images found at this Site or any text or the layout/design of any page or form contained on a page).</p>
			<p>Except for the limited license granted to you, you are not conveyed any other right or license by implication, estoppels, or otherwise in or under any patent, trademark, copyright, or proprietary right of Housemarket Application or any third party. Any unauthorized use of this Site will terminate the permission or license granted by these Site Terms and may violate applicable law including copyright laws, trademark laws (including trade dress), and communications regulations and statutes.</p>
			<p>Housemarket Application does not assert copyright or grant any rights to the underlying images or descriptions of real estate listings that may be contained in our search results and that we derive from the source Web site or information provided by the Web site owner. Housemarket Application uses these images and excerpted descriptions solely as necessary to generate search results as a navigational tool to direct you to the originating Web site. Any use of the source images or descriptions is subject to the copyright owner's permission and/or the requirements of applicable law. Housemarket Application does assert copyright and reserves all right to the search results and associated compilations.</p>
			<p><strong>Links To Other Sites</strong></p>
			<p>The Services contain links to third-party Web sites. These third-party sites are not under the control of Housemarket Application. We are providing these links to you only as a convenience, and the inclusion of any link does not imply affiliation, endorsement, or adoption by us of the site or any information contained therein. Housemarket Application is not responsible or liable for the contents of any linked site. You should make whatever investigation you feel necessary or appropriate before proceeding with any transaction with any of these third parties. When leaving this Site, you should be aware that our terms and policies no longer govern, and, therefore, you should review the applicable terms and policies, including privacy and data gathering practices, of that site.</p>
			<p><strong>Privacy & Information Disclosure</strong></p>
			<p>Housemarket Application has a Privacy Policy that explains to users how their information is collected and used. A copy of the current version of our Privacy Policy can be found at https://apps.facebook.com/housemarket/info/privacy/ Your use of the Sites or the Service signifies acknowledgement of and agreement to our Privacy Policy.</p>
			<p>You further acknowledge that Housemarket Application may, in its sole discretion, preserve or disclose your Content, as well as your information, such as email addresses, IP addresses, timestamps, and other user information, if required to do so by law or in the good faith belief that such preservation or disclosure is reasonably necessary to comply with the legal process, enforce these Terms, respond to claims that any Content violates the right of third-parties; or to protect the rights, property, or personal safety of Housemarket Application, its users or the general public.</p>
			<p><strong>Indemnification</strong></p>
			<p>You agree to defend, indemnify, and hold Housemarket Application harmless from and against any claims, damages, costs, liabilities, and expenses (including, but not limited to, reasonable attorneys' fees) arising out of or related to any User Content you post, store, or otherwise transmit on or through the Site or your use of the Site and the Service, including, without limitation, any actual or threatened suit, demand, or claim made against Housemarket Application arising out of or relating to the User Content, your conduct, your violation of these Terms of Use, or your violation of the rights of any third party.</p>
			<p><strong>No Warranties</strong></p>
			<p>THIS SITE, THE MATERIALS, AND THE SERVICES ARE PROVIDED ON AN "AS IS" BASIS WITHOUT WARRANTIES OF ANY KIND, EITHER EXPRESS OR IMPLIED. YOU EXPRESSLY AGREE THAT USE OF THIS SITE, INCLUDING ALL CONTENT OR DATA DISTRIBUTED BY, DOWNLOADED OR ACCESSED FROM OR THROUGH THIS SITE, IS AT YOUR SOLE RISK. WE DISCLAIM ALL WARRANTIES, EXPRESS OR IMPLIED, INCLUDING, BUT NOT LIMITED TO, IMPLIED WARRANTIES OF MERCHANTABILITY, FITNESS FOR A PARTICULAR PURPOSE, TITLE, AND NON-INFRINGEMENT AS TO THE INFORMATION, MATERIALS, AND CONTENT ON THE SITE. WE DO NOT REPRESENT OR WARRANT THAT MATERIALS IN THIS SITE ARE ACCURATE, COMPLETE, RELIABLE, CURRENT, OR ERROR-FREE. WE ARE NOT RESPONSIBLE FOR TYPOGRAPHICAL ERRORS OR OMISSIONS RELATING TO PRICING, TEXT OR PHOTOGRAPHY.</p>
			<p><strong>Limitation Of Liability</strong></p>
			<p>IN NO EVENT SHALL HOUSEMARKET APPLICATION, ITS OFFICERS, DIRECTORS, AGENTS, AFFILIATES, EMPLOYEES, ADVERTISERS, OR DATA PROVIDERS BE LIABLE FOR ANY INDIRECT, SPECIAL, INCIDENTAL, CONSEQUENTIAL OR PUNITIVE DAMAGES (INCLUDING BUT NOT LIMITED TO LOSS OF USE, LOSS OF PROFITS, OR LOSS OF DATA) WHETHER IN AN ACTION IN CONTRACT, TORT (INCLUDING BUT NOT LIMITED TO NEGLIGENCE), EQUITY OR OTHERWISE, ARISING OUT OF OR IN ANY WAY CONNECTED WITH THE USE OF THIS SITE, THE MATERIALS OR SERVICES. SOME JURISDICTIONS DO NOT ALLOW THE EXCLUSION OR LIMITATION OF LIABILITY SO THE ABOVE LIMITATIONS MAY NOT APPLY TO YOU.</p>
			<p><strong>Disclaimer of Responsibility for Third Party Content</strong></p>
			<p>Housemarket Application may provide third party content on the Site and may provide links to Web pages and content of third parties (collectively the "Third Party Content") as a service to those interested in this information. Housemarket Application does not monitor or have any control over any Third Party Content or third party Web sites. Any opinions, advice, statements, services, offers, or other information or content expressed or made available by third parties, including information providers and users, are those of the respective author(s) or distributor(s) and not Housemarket Application. In many instances, the content available through this Site represents the opinions and judgments of the respective information providers or users. Housemarket Application does not endorse or adopt any Third Party Content, and is not responsible for and does not guarantee the accuracy, completeness or reliability of any Third Party Content or any opinion, advice or statement made on the site by any third party. Users use such Third Party Content contained therein at their own risk.</p>
			<p><strong>Choice Of Law, Waiver, And Claims</strong></p>
			<p>These Terms of Use shall be governed by the laws of Nicaragua without regard to its conflict of law provisions. Housemarket Application 's failure to exercise or enforce any right or provision of the Terms of Use will not be deemed to be a waiver of such right or provision. If any provision of these Terms of Use is found by a court of competent jurisdiction to be invalid, the parties nevertheless agree that the court should endeavor to give effect to the parties' intentions as reflected in the provision, and the other provisions of these Terms of Use remain in full force and effect. You agree that regardless of any statute or law to the contrary, any claim or cause of action arising out of or related to use of the Services must be filed within one (1) year after such claim or cause of action arose or be forever barred.</p>
			<p><strong>Arbitration</strong></p>
			<p>Any controversy or claim arising out of or relating to these Terms of Use or the Services will be settled by binding arbitration in accordance with the commercial arbitration rules of the Nicaraguan Commerce Chamber. Any such controversy or claim must be arbitrated on an individual basis, and must not be consolidated in any arbitration with any claim or controversy of any other party. The arbitration must be conducted in Managua, Nicaragua, and judgment on the arbitration award may be entered into any court having jurisdiction thereof. Either Housemarket Application or you may seek any interim or preliminary relief from a court of competent jurisdiction in Managua, Nicaragua, as necessary to protect the rights or property of you or Housemarket Application.</p>
			
		</div>
		<div class="clear"></div>
	</div>
	<div class="right-column">
		<div id="banner" class="banner-inactif">
			<ul>
				<li class="precio">
						Para profesionales de Bienes Raices por solo $19.99 por mes
				</li>
				<li class="description">
						Agrega estas funcionalidades a tu pagina de Facebook :
				</li>
				<li class="demo-buton demo-buton-1">
						Buscador de propiedades en tu fan page.
				</li>
				<li class="demo-buton demo-buton-2">
						Visualizacion por mapa o lista
				</li>
				<li class="demo-buton demo-buton-3">
						Filtros para refinar busqueda.
				</li>
				<li  class="demo-buton demo-buton-4">
						Descripcion detallada de propiedades.
				</li>
				<li class="demo-buton demo-buton-5">
						Carrusel de fotos de propiedad.
				</li>
				<li class="demo-buton demo-buton-6">
						Herramienta sencilla para contactar.
				</li>
				<li  class="buton-instalar">
					<a  class="instalar" href="<? echo $this->urlInstall?>" alt="instalar housemarket tab app">
						instalar
					</a>
				</li>
			</ul>
		</div>
		<div class="clear"></div>
	</div>
	<div class="clear"></div>
</div>