<div class="content content-listpage">
	<div class="head">
	
	</div>
	<div class="box listbox">
		<div class="message">
			<div class="logo">
				<img alt="logo housemarket Tab" src="/img/hmlogo.png" height="60px">
			</div>
			<div class="text">
				<?php echo $this->message ?>
			</div>
			<div class="clear"></div>
		</div>
		<div class="clear"></div>
	</div>
</div>