.galery  {
	width: 540px;
	margin: 0 auto;
	text-align: left;
	border:1px solid #CCC;
}
.galery  div#container {
	width: 428px;
	float:left;
	opacity:1;
	padding: 0px;
}

.galery .navigation{
	width: 90px;
	float:right;
	opacity:1;
}

.galery  div.content a, div.navigation a {
	text-decoration: none;
	color: #777;
}
.galery  div.content a:focus, div.content a:hover, div.content a:active {
	text-decoration: underline;
}
.galery  div.controls {
	margin-top:0px;
	height: 0px; /*Se especifica un alto cuando se muestran los controles*/
}
.galery  div.controls a {
	padding:0px;
}
.galery  div.ss-controls {
	float: left;
}
.galery  div.nav-controls {
	float: right;
}
/*Div que conteniene la foto principal*/
.galery  div.slideshow-container {
}

.galery  div.loader {
	top: 0;
	left: 0;
	background-image: url('loader.gif');
	background-repeat: no-repeat;
	background-position: center;
	width: 428px;
	height: 330px;
}
.galery  div.slideshow {
}
.galery  div.slideshow span.image-wrapper {
	display: block;
	top: 0;
	left: 0;
}
.galery  div.slideshow a.advance-link {
	display: block;
	text-align: center;
}
.galery  div.slideshow a.advance-link:hover, div.slideshow a.advance-link:active, div.slideshow a.advance-link:visited {
	text-decoration: none;
}
.galery  div.slideshow img {
	vertical-align: middle;
	border: 1px solid #ccc;
    width:427px;
    height:321px;
}
.galery  div.download {
	float: right;
}
.galery  div.caption-container {

}

.galery  span.image-caption {
	display: block;
	top: 0;
	left: 0;
}
.galery  div.caption {
	border: 1px solid #CCCCCC;
}
.galery  div.image-title {
	font-weight: bold;
	font-size: 1.4em;
}
.galery  div.image-desc {
	padding: 4px;
	font-size:11px;
	font-family: "Lucida Grande", "Lucida Sans Unicode", sans-serif;
	text-align:center;
	
}

.galery  ul.thumbs {
	margin: 4px 0px 0px 0px;
	padding: 0;
}
.galery  ul.thumbs li {
	float: left;
	padding: 0;
	margin: 2px 10px 6px 0;
	list-style: none;
}
.galery  a.thumb {
	padding: 2px 2px 2px 2px;
	display: block;
	border: 1px solid #ccc;
}
.galery  ul.thumbs li.selected a.thumb {
	background: #000;
}
.galery  a.thumb:focus {
	outline: none;
}
.galery  ul.thumbs img {
	border: none;
	display: block;
}
div.pagination {
	
}
.galery  div.navigation div.top {
	margin-bottom: 12px;
	height: 11px;
}
.galery  div.navigation div.bottom {
	margin-top: 12px;
}
.galery  div.pagination a, div.pagination span.current, div.pagination span.ellipsis {
	display: block;
	float: left;
	margin-right: 2px;
	padding: 4px 7px 2px 7px;
	border: 1px solid #ccc;
}
.galery  div.pagination a:hover {
	background-color: #eee;
	text-decoration: none;
}
.galery  div.pagination span.current {
	background-color:#666;
	border-color:#666;
	color: #fff;
}
.galery  div.pagination span.ellipsis {
	border: none;
	padding: 5px 0 3px 2px;
}