<?php echo '<?xml version="1.0" encoding="utf-8"?>'; ?>
<?php echo $this->doctype(); ?>

<!-- xmlns:fb="https://www.facebook.com/2008/fbml" xmlns="http://www.w3.org/1999/xhtml" xmlns:og="http://opengraphprotocol.org/schema/" xmlns:v="urn:schemas-microsoft-com:vml" -->
<html >
    <head prefix="og: http://ogp.me/ns# fb: http://ogp.me/ns/fb# housemarkettab: http://ogp.me/ns/fb/housemarkettab#">
        <?php echo $this->headTitle(); ?>
        <?php echo $this->headerMeta; ?>
        <?php echo $this->headLink() ?>
        
        <?php echo $this->headStyle() ?>
        
        <?php echo $this->headScript() ?>
         
         <?php echo $this->headerScript ?>
    </head>
    <body <?php if(isset($this->body_onLoad)){ ?>onLoad="<?php echo $this->body_onLoad ?>"<?php }?>>
    	<div id="fb-root"></div>
        <div class="wrap">
            <div class="main">
                <?php echo $this->layout()->content ?>
            </div>
        </div>
        <?php echo $this->footerScript ?>
        <script type="text/javascript">
        	FB.Canvas.setAutoGrow(5); 
        </script>
    </body>
</html>