<?echo $this->render('header/index.phtml'); ?>
<div class="content content-register">
	
	<div class="box-left">
		<div id="banner">
			<ul>
				<li class="precio">
					<a  class="" href="#" alt="">
						Para profesionales de Bienes Raices por solo $19.99 por mes
					</a>
				</li>
				<li class="description">
					<a  class="" href="#" alt="">
						Agrega estas funcionalidades a tu pagina de Facebook :
					</a>
				</li>
				<li class="demo-buton demo-buton-1">
					<a  class="" href="#" alt="">
						Buscador de propiedades en tu fan page.
					</a>
				</li>
				<li class="demo-buton demo-buton-2">
					<a  class="" href="#" alt="">
						Visualizacion por mapa o lista
					</a>
				</li>
				<li class="demo-buton demo-buton-3">
					<a  class="" href="#" alt="">
						Filtros para refinar busqueda.
					</a>
				</li>
				<li  class="demo-buton demo-buton-4">
					<a  class="" href="#" alt="">
						Descripcion detallada de propiedades.
					</a>
				</li>
				<li class="demo-buton demo-buton-5">
					<a  class="" href="#" alt="">
						Carrusel de fotos de propiedad.
					</a>
				</li>
				<li class="demo-buton demo-buton-6">
					<a  class="" href="#" alt="">
						Herramienta sencilla para contactar.
					</a>
				</li>
			</ul>
		</div>
		<div class="clear"></div>
	</div>
	<div class="box-right">
		<div class="intro">
			<h2><?php echo $this->title;?></h2>
			<span><?php echo $this->text;?></span> 
		</div>
		<div class="form form-register">
			<?php echo $this->formRegister;?>
		</div>
		<div class="clear"></div>
	</div>
	<div class="clear"></div>
</div>