<?echo $this->render('header/index.phtml'); ?>
<div class="content content-register">
	<div class="box-left">
		<h2>Profesionales</h2>
		<span>Usuarios alrededor del mundo utilizan housemarket para buscar casas, apartamento y terrenos</span>
	</div>
	<div class="box-border"></div>
	<div class="box-right">
		Validate
<form action="https://www.sandbox.paypal.com/cgi-bin/webscr" method="post">
<input type="hidden" name="cmd" value="_xclick">
<input type="hidden" name="business" value="pierre_1339707339_biz@gmail.com">
<input type="hidden" name="lc" value="AR">
<input type="hidden" name="item_name" value="test tab">
<input type="hidden" name="button_subtype" value="services">
<input type="hidden" name="no_note" value="0">
<input type="hidden" name="currency_code" value="USD">
<input type="hidden" name="bn" value="PP-BuyNowBF:btn_buynowCC_LG.gif:NonHostedGuest">
<input type="hidden" name="return" value="http://tab.hmapp.com/register/finalizar">
<table>
<tr><td><input type="hidden" name="on0" value="duration">duration</td></tr><tr><td><select name="os0">
	<option value="1 mes">1 mes$10,00 USD</option>
	<option value="2 meses">2 meses$20,00 USD</option>
	<option value="3 meses">3 meses$30,00 USD</option>
</select> </td></tr>
</table>
<input type="hidden" name="currency_code" value="USD">
<input type="hidden" name="option_select0" value="1 mes">
<input type="hidden" name="option_amount0" value="10.00">
<input type="hidden" name="option_select1" value="2 meses">
<input type="hidden" name="option_amount1" value="20.00">
<input type="hidden" name="option_select2" value="3 meses">
<input type="hidden" name="option_amount2" value="30.00">
<input type="hidden" name="option_index" value="0">
<input type="image" src="https://www.paypalobjects.com/en_US/i/btn/btn_buynowCC_LG.gif" border="0" name="submit" alt="PayPal - The safer, easier way to pay online!">
<img alt="" border="0" src="https://www.paypalobjects.com/es_XC/i/scr/pixel.gif" width="1" height="1">
</form>
		
		
		
	</div>
	<div class="clear"></div>
	<?echo $this->render('footer/index.phtml'); ?>
</div>