<html>
    <body>
    	<table style="margin:auto; background-color:#f1f1f1">
    	<tr>
    	<td>
    	<table width="442" style="margin: 10px ;padding:15px;">
    		<tr>
    			<td>
    				<table width="422" style="margin: 10px ;padding:15px;background-color:#ffffff;">
	    				<tr>
	    					<td>
	    					<a href="http://tab.hmapp.com/" alt="housemarket tab">
		    					<img alt="powered By housemarket" src="https://propiedad.hmapp.com/img/header_mail.gif">
		    				</a>
	    					</td>
	    				</tr>
	    			</table>
    				
    			</td>
    		</tr>
    		<tr>
    			<td>
    			<table width="422" style="border:1px solid #666;margin: 10px ;padding:15px;background-color:#ffffff;">
    				<tr>
    					<td>
    					<strong>Hola, housemarket.</strong>
    					</td>
    				</tr>
    				<tr>
    					<td>
    					Tienes un mensaje de : <?php echo $this->formvalue['Nombre']?>
    					</td>
    				</tr>
    			</table>
    			</td>
    		</tr>
    		<tr>
    			<td>
    				<table width="422" style="border:1px solid #666;margin: 10px ;padding:15px;background-color:#ffffff;">
    					<tr>
							<th style="text-align: left">Nombre : </th><td><?php echo $this->formvalue['Nombre']?></td>
						</tr>
						<tr>
							<th style="text-align: left">Email :</th><td><?php echo $this->formvalue['Email']?></td>
						</tr>
						<tr>
							<th style="text-align: left">Telefono :</th><td><?php echo $this->formvalue['Telefono']?></td>
						</tr>
						<tr>
							<th style="text-align: left">Mensaje :</th><td><?php echo $this->formvalue['Texto']?></td>
						</tr>
						<tr>
			    			<td>
			    				<hr/>
			    			</td>
			    		</tr>
			    		<tr>
			    			<td>
			    				Contactado desde <a href="http://tab.hmapp.com/landing/contact" alt="Housemarket Tab app">el formulario de contacto housemarket Tab</a>.
			    			</td>
			    		</tr>
					</table>
    			</td>
    		</tr>
    	</table>
    	</td>
    	</tr>
    	</table>
    </body>
</html>